*/1 * * * * /usr/local/bin/php /var/www/html/magento2/bin/magento cron:run
*/1 * * * * /usr/local/bin/php /var/www/html/magento2/update/cron.php
*/1 * * * * /usr/local/bin/php /var/www/html/magento2/bin/magento setup:cron:run
*/1 * * * * /usr/local/bin/php /updatenodes.php